*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #003f86;
}

.container{
    width: 90%;
    max-width: 37.5em;
    position: absolute;
    background-color: antiquewhite;
    border-radius: 0.8em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 3em;
}

.inp-col{
    display: flex;
    justify-content: space-between;
}

.col-con{
    display: flex;
    flex-direction: column;
}

input[type='color']{
    appearance: none;
    background-color: transparent;
    width: 7em;
    height: 7em;
    border: none;
}
input[type='color']::-webkit-color-swatch-wrapper{
    border-radius: 0.5em;
    border: 0.5em solid #c7c7c7;

}

.result{
    margin-top: 1em;
}

#prev{
    padding: 1.5em;
    line-height: 1.8em;
    border-radius: 0.5em;
    text-align: center;
}

#contr{
    text-align: center;
    font-size: 3em;
    margin-top: 1em;
}

#rate{
    text-align: center;
    padding: 0 0.8 0;
    border-radius: 0.5em;
}